ul.nav {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}
#heading {
  text-align: center;
}
.cse_logo {
  position: absolute;
  top: 0;
  right: 10px;
  width: 100px;
  height: 100px;
  padding-bottom: 5px;
  padding-top: 12px;
}

.col-lg-7 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.logo {
  float: left;
  width: 120px;
  height: 100px;

}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.selection {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.container {
  padding: 16px;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
}

.container::before {
  /* background-image: url('path/to/image.jpg'); Actual image for this demo is a data-uri, see below */
  /* Prefix free isn't picking up this one */
  background-image: url("joni_baba.jpg");
  -webkit-filter: url('#blur');
  filter: url('#blur');
  -webkit-filter: blur(5px);
  filter: blur(5px);
  background-size: cover;
  opacity: 0.5;
}

body {
  background-image: url("joni_baba.jpg");
  background-position: center;
  max-width: 100%;
  max-height: 100%;
}
